html[lang="ar"] {
  direction: rtl;
  text-align: right;
}

html[lang="ar"] body {
  direction: rtl;
}

html[lang="ar"] .mdx-content {
  direction: rtl;
  text-align: center;
}

html[lang="ar"] #content-area {
  margin-right: 0;
  margin-left: auto;
}

html[lang="ar"] #content-container {
  text-align: center;
  max-width: none;
  margin: 0 auto;
}